*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    /*variaveis para gerar teplate de cores*/
    --bg-color: #EDF2FF;
    --text-color: #00082F;
    --primary-color: #4263EB;
    --primary-color-dark: #364FC7;
}
a{
    text-decoration: none;
}
body.nutriinova{
    --bg-color: #FFADAD;
    --text-color: #0B1F3A;
    --primary-color: #7B337D;
    --primary-color-dark: #672B69;
}
body {
    background:  var(--bg-color);
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
}
.flex-container{
    display: flex;
    flex-direction: column;
    justify-content:center;

    text-align: center;
    max-width: 1100px;
    margin: 20px auto;
}
img{
    width:100%;
    height:100%;
    padding:3.7px;
}
img.avatar{
    opacity: 0.9;
    max-width:400px;
}
h1{
    font-size: 32px;
    margin-top: 24px;
    margin-bottom: 8px;
    display: block;
}
h1.nutri-font{
    font-family: 'Berkshire Swash', cursive;
}
header{
    display: flex;
    align-items: center;
    justify-content:center;
    max-width:100%;
}
p.expert{
    margin-left: 12px;
    margin-top: 35px;
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    letter-spacing: .2rem;
    opacity: 0.8;
    font-size: 18px;
}
p.username{
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    opacity: 0.8;
    font-size: 18px;
}
div.div-banners{
    opacity: 0.9;
    transition:  400ms;
    margin: 14px;
    
}
div.div-banners:hover{
    opacity: 1;
}
.sereianas img{
    max-width: 200px;
    opacity: 0.6;
    transition:  400ms;
}
.sereianas img:hover{
    opacity: 1;
}
footer{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: 24px;
    font-weight: 500;
    font-size: 12px;
    opacity: 0.5;
    transition: 400ms;
}
footer:hover{
    opacity: 1;
    color: var(--primary-color-dark);
}
footer a {
    color: var(--primary-color);
}


